body {
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(#ff9a9e, #fecfec);
  /* width: 400%; */
  height: 60rem;
  color: white;
  text-shadow: 1px 1px black;
}

.nav {
  width: 100%;
  text-align: center;
}

#title {
  margin: 0;
}

#timer-container {
  width: 100%;
}