body {
  font-family: 'Roboto', sans-serif;
}

.nav {
  width: 100%;
  text-align: center;
}

#title {
  margin: 0;
}

#loginForm {
    width: 100%;
    text-align: center;
}

.login {
    width: 100%;
    text-align: center;
    font-size: 24px;
    margin-bottom: 2%;
}

.loginButton {
    border: none;
    color: white;
    text-align: center;
    background-color: #4287f5;
    padding: 5px 10px;
}
