body {
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(#ff9a9e, #fecfec);
  /* width: 400%; */
  height: 60rem;
  color: white;
  text-shadow: 1px 1px black;
}

.nav {
  width: 100%;
  text-align: center;
}

#title {
  margin: 0;
}

.page-heading {
  width: 100%;
  text-align: center;
  font-size: 24px;
  margin-bottom: 2%;
}

#timer-container {
  width: 100%;
  text-align: center;
}

#priority {
  width: 131px;
  height: 19px;
}

#loginForm {
    width: 100%;
    text-align: center;
}

.new-timer {
  width: 100%;
  text-align: center;
  margin-top: 2%;
}

button {
  background-color: #4287f5;
  color: white;
}

.submit-button {
    border: none;
    color: white;
    text-align: center;
    padding: 5px 10px;
    background-color: #4287f5
}
