body {
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(#ff9a9e, #fecfec);
  /* width: 400%; */
  height: 60rem;
  color: white;
  text-shadow: 1px 1px black;
}

.nav {
  width: 100%;
  text-align: center;
}

#title {
  margin: 0;
}

#timer-container {
  width: 100%;
}

#loginForm {
    width: 100%;
    text-align: center;
}

.login {
    width: 100%;
    text-align: center;
    font-size: 24px;
    margin-bottom: 2%;
}

.loginButton {
    border: none;
    color: white;
    text-align: center;
    background-color: #4287f5;
    padding: 5px 10px;
}
